/*   
Theme Name: Compholiday
Version: 1.0
Author: morf
*/


@media (min-width: 979px) { 
	ul.nav li.dropdown.show-on-hover:hover > ul.dropdown-menu { /* для раскрывания субменю по наведению */
		display: block;
	}
	.comment-list .children { /* для комментов */
		padding: 0;
		margin-left: 74px;
		padding-bottom: 15px;
	}
	.comment-list .media {
		margin-top: 0;
	}
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.thematic-squad__item-title{
    margin-bottom: 6px;
    display: inline-block;
    line-height: 18px;
    font-weight: bold;
}

.camp-item__inner{
    min-height: 349px;
    position: relative;
}

.camp-item__btn-wrap{
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.camp-item__bottom{
    padding-bottom: 80px;
}

.camp .booking-form{
    margin: 0;
    padding: 0;
}

.camp .booking-form__button{
    margin-top: 0;
}

.camps-info__text{
    margin: 14px 0 20px;
}

.camps-info{
    flex-grow: 1;
}

.main-menu{
    padding-bottom: 5px;
}

.main-menu>li{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.main-menu a{
    padding: 9px 10px;
}

.drop > a:before{
    transform: translateY(-50%);
}

.main-menu>li:last-child>ul{
    margin-top: 5px;
}

.drop:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.drop:hover{
    border-radius: 6px 6px 0 0;
}

.drop:hover:after{
    opacity: 1;
}

.camp .booking-container .woocommerce-Price-amount {
    font-size: 22px;
    font-weight: bold;
}

.tabs h2{
    font-size: 24px;
}

.camps-info__text{
    min-height: 70px;
}

.price{
    color: #d86a19;
}

.camp .booking ins{
    display: block;
}

.disable + span{
    position: relative;
}

.disable + span:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background: #fff;
    opacity: .6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #aaa;
}

.post-thumb > img{
    width: 100%;
    height: auto;
}
.post-gallery{
    position: relative;
    margin-bottom: 40px;
}

.post-gallery .slick-dots{
    display: inline-block;
    text-align: center;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.post-gallery .slick-dots li{
    display: inline-block;
    border: 2px solid #3e396b;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin: 0 5px;
    cursor: pointer;
}

.post-gallery .slick-dots li.slick-active{
    background: #3e396b;
}

.article__title{
    margin-top: 0;
}

.article__img-wrap{
    margin-bottom: 25px;
}

.home-slider__title:hover{
    color: #fff!important;
}

.home-slider__title{
    color: #fff!important;
    outline: none!important;
}

.article-item__color{
    display: block;
}

.office__text > p {
    margin: 0;
}

.wpcf7-response-output{
    border: 0!important;
    text-align: center;
}

.wpcf7-mail-sent-ok{
    color: green;
}

.wpcf7-validation-errors{
    color: red;
}

.camp-desc-text h4{
    font-size: 20px;
    line-height: 22px;
}

.camp-desc-text .title{
    font-size: inherit!important;
    line-height: inherit!important;
    font-weight: inherit!important;
}

.camps-info__text{
    font-weight: 400;
}
/*.bread-crumbs__item:not(:first-child):before{*/
    /*margin-right: 5px;*/
/*}*/